.bg-ls {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    text-align: left;
    background-color: #000033;
    background-image: url(http://os7.techaffinity.us/district10/public/custom/theme/images/login-page-bg.png);
}

.text-center{
    margin-top: 2em;
    margin-bottom: 4em;
    }
    .mg-10{
        margin-top: 6em;
    }
    .pull-right{
        text-align: right;
    }
    .mn-tps{
        margin-bottom: 1em;
    }
    .btn-create{
        margin-bottom: 1em;
        border-radius: 2em;
    }
    .mt-5{
        margin-left: -21em;
    }